body{
  padding:0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
}
ul li{ list-style:none;}
a {
  color: white;
}

.logo{
	float: left;
	font-size: 20px;
	color: white;
	background-color: cornflowerblue;
	border: none;
	height:50px;
}
.btn-index{
	float: right;
	line-height:20px;
}
.time{
	padding:0;
	background-color: white;
	border-color:gainsboro;
	height:30px;
	margin-top: -20px;
	padding-left:20px;
	padding-top:5px;
}
.nav-menu{
	width: 240px;
	height: 520px;
	background: #F5F5F5;
	border-right: 1px solid #DCDCDC;
	overflow: hidden;
	position: relative;
	top:-20px;
	float: left;
}
.nav-menu img{
	position: absolute;
	left:15px;
	top:8px;
}
.list-group{
	margin: 25px;
	width: 180px;
	text-align: center;
}
.tishi{
	margin-left:840px;
}
.bgc{
	background:#8bc93a;
	font-size: 20px;
}
.login-in-info{
	display: inline-block;
	position: absolute;
	top:9px;
	right:51px;
	font-size: 14px;
}
.login-in-info span{
	margin-right: 15px;
}
.zhuxiao{
	height:30px;
	/*border:1px solid;*/
	line-height: 30px;
}

.right1{
	width:323px;
	height: 200px;
	/*border:1px solid;*/
	float:right;
	padding-left:100px;
	margin-right:650px;
	margin-top:40px;
	background: url("/images/clock.jpg") no-repeat;
}
h1{color:#004276;}
.p1{
	margin-top:40px;
}
