.right{
	width:77%;
	margin-left:265px;
}
.container{
	width:969px;
	margin-top:10px;
}
table{
	text-align: center;
}
table thead th{
	text-align: center;
}
.addUser{
	position: absolute;
	top:172px;
	right:81px;
	width:100px;
	height:35px;
	padding:0px;
}
.addUser img{
	padding-right:5px;
}
.page-user{
	margin-top: -200px;
}
.all-info{
	cursor: pointer;
}
